.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Roboto";
}

.text-small{
    -fx-font-size: 11px;
    -fx-font-family: "Roboto";
}

.text-big{
    -fx-font-size: 17px;
    -fx-font-family: "Roboto";
}

.text-huge{
    -fx-font-size: 22px;
    -fx-font-family: "Roboto";
}

.logo{
    -fx-font-size: 35px;
    -fx-font-family: "Righteous";
}

.logo-twirl{
    -fx-font-size: 35px;
    -fx-font-family: "Permanent Marker";
    -fx-text-fill: #FFAC33;
    -fx-rotate: -20;
}

.item-background{
    -fx-border-width: 2px;
    -fx-border-color: #bdbdbd;
    -fx-border-radius: 1px;
    -fx-background-color: #FCFCFC;
}

.item-background:hover{
    -fx-border-width: 2px;
    -fx-border-color: #616161;
    -fx-border-radius: 1px;
}

.item-background:pressed{
    -fx-border-width: 2px;
    -fx-border-color: #D0D0D0;
    -fx-border-radius: 1px;
    -fx-background-color: #D0D0D0;
}

.detail-layout{
    -fx-border-width: 2px;
    -fx-border-color: #D0D0D0;
    -fx-border-radius: 1px;
    -fx-background-color: #FCFCFC;
}

.detail-fade{
    -fx-background-color: rgba(55, 55, 55, 0.5);
}

.text-normal-bold{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto";
}

.transparent{
    -fx-opacity: 0;
}